<footer class="mt-1  bg-neutral-200 text-center dark:bg-neutral-700 lg:text-left">
  <div class="p-4  w-full flex-auto  text-center text-neutral-700 dark:text-neutral-200">
    <a class="text-neutral-800 dark:text-neutral-400 font-bold" href="https://github.com/fanitaadamova">© 2023 Fanka
      Adamova:</a>
    <a class="text-neutral-800 dark:text-neutral-400" href="/"> Android Forum</a>
    <p class="text-neutral-800 dark:text-neutral-400">This single page application is created as a my personal project
      at the end of Angular course in
      <a href="https://softuni.bg/" class="hover:underline font-bold"> SoftUni</a>
    </p>
  </div>
</footer>